@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;1,300&family=Julius+Sans+One&display=swap');

body {
    font-family: "Cormorant Infant";
    font-weight: 300px;
    font-size: 80%;
}
/* Header & Navigation Bar */

header{
    text-align: center;
    margin: 0;
    padding: 1%;
    color: #2b2a32;
}

header h1 {
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #2b2a32;
}
header a {
    text-decoration: none;
}

header li {
    list-style-type: none;
    display: inline-block;
    margin: 3%;
    text-align: center;
}
/* workplace wellbeing section */

#workplace-wellbeing {
    padding: 20%;
    background: url("../images/hero-image.jpg");
    background-repeat: no-repeat;
    background-size: 300px;
    width: 300px;
    height: 200px;
    margin: 0, auto;
}
#website-intro {
    background-color: rgb(192,144,121,0.7);
    width:300px;
    height:150px;
    padding-left:0;
    text-align: center;
}