@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;1,300&family=Julius+Sans+One&display=swap');

/* General rules */


body {
    font-family: "Cormorant Infant";
    letter-spacing: 1px;
    font-weight: 300px;
    padding: 10px;
    text-align: center;
}
h1, h2{
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 4px;
}

h2 {
    margin-top: 50px;
    margin-bottom: 30px; 
}

p, li, form{
    text-align: left;
}

a {
    text-decoration: none;
    color: #2b2a32;
}


/* Navigation bar and Social media links: UL lists centered horizontally */

.centered-lists {
    text-align: center;
    margin: 0, auto;
}

.centered-lists ul {
    margin: 0;
    padding: 0;
}

.centered-lists li {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}


/* Header & Navigation Bar */


header{
    background-color: #2b2a32;
    position: cover;
    text-align: center;
    margin: 0, auto;
    padding: 1%;
}

h1 {
    text-transform: uppercase;
    color:whitesmoke
}

header a{
    color:whitesmoke;
}

/* Hover styling for nav links.*/

header a:hover {
    color:#2b2a32;
    background-color: whitesmoke;
}


/* Homepage - Workplace Wellbeing */

#homepage-section {

    background: url(../images/hero-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    margin-right: 0;
    margin-top: 0;
    position: relative;
}
#website-intro {
    width:80%;
    background-color: rgb(192,144,121,0.9);
    text-align: center;
    position: absolute;
    top: 55%;
    right: 10%;
}


/* Our Services Page */


.service {
    margin-top: 50px;
}

.service h3{
    text-transform: uppercase;
    letter-spacing: 4px;
    background-color: rgb(192,144,121,0.5);
    text-align: center;
}
#packages {
    background-color: rgb(192,144,121,0.2);
    width: 250px;
    margin: 0 auto;
    padding: 5px 15px;

}

.service img{
    max-width: 240px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    
}

/* Contact Us Page */

#contact-form-section {
    background-image: url(../images/Cammomile-field.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
}


.contact-form {
    max-width: 210px;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
    padding: 20px;
    position: relative;  
    top: 82px; 
    color:#2b2a32;
}

.text-box {
    width: 204px;
    background: transparent;
    border: 1px solid #2b2a32;
}

.check-box {
    background-color: transparent;
}

#send-button {
    background-color: whitesmoke;
    color: #2b2a32;
    padding: 4px;
    margin-top: 4px;
    border: 1px solid, #2b2a32;
}

/* Social media links */

#social-links li {
    font-size: 30px;
    padding-left: 25px;
    padding-right: 25px;
}

/* Hover styling for social media links.*/
footer a:hover {
    background-color: #2b2a32;
    color:whitesmoke;
}


