@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;1,300&family=Julius+Sans+One&display=swap');

/* General rules */


body {
    font-family: "Cormorant Infant";
    letter-spacing: 1px;
    font-weight: 300px;
}
h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #2b2a32;
}

/* Navigation bar and Social media links: UL lists centered horizontally */

.centered-lists {
    text-align: center;
    margin: 0, auto;
}

.centered-lists ul {
    margin: 0;
    padding: 0;
}

.centered-lists li {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}


/* Header & Navigation Bar */


header{
    text-align: center;
    margin: 0, auto;
    padding: 1%;
    color: #2b2a32;
}

h1 {
    text-transform: uppercase;
}


/* workplace wellbeing section */

#workplace-wellbeing {
    padding: 20%;
    background: url("../images/hero-image.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-right: 0;
    margin-top: 0;
}
#website-intro {
    background-color: rgb(192,144,121,0.7);
    text-align: center;
   
}

/* bespoke packages section*/


.service {
    margin-top: 50px;
}

.service h3{
    text-transform: uppercase;
    letter-spacing: 4px;
    background-color: rgb(192,144,121,0.5);
    text-align: center;
}
#packages {
    background-color: rgb(192,144,121,0.2);
    width: 250px;
    margin: 0 auto;

}


.service img{
    max-width: 230px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    
}

/* Contact section */

#contact-section {
    max-width: 600px;
  
}


/* Social media links */

#social-links li {
    font-size: 30px;
    padding-left: 40px;
    padding-right: 40px;
}

